{% import "macros/search.html.twig" as search %}

{% extends 'base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}

{% block body %}
  {% for item in app.flashes('success') %}
  <div class="alert alert-success">
      <p>{{item}}</p>
  </div>
  {% endfor %}
{# {{ search.search(form) }} #}
<div class="row">
  <div class="col-lg-8">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </thead>
      <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.article.title}} </td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.article.price |number_format(2,'.',' ') }}</td>
          <td></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
  
  </div>
</div>
{% endblock %}
