{% import "macros/search.html.twig" as search %}

{% extends "leSekoya/base.html.twig" %}
{% block title %}Shop{% endblock %}

{% block body %}
<style>

  @media (max-width: 991px) {
    nav.categories ul ul{
    position: absolute;
    left: 25px;
    min-width: 250px;
    top: 0;
    display: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
    z-index: 99;
    }
  }
  nav.categories {
    width: 255px;
  }

  nav.categories ul ul {
    position: absolute;
    left: 255px;
    min-width: 250px;
    top: 0;
    display: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
    z-index: 99;
  }

  nav.categories ul span {
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 1.5em;
  }

  nav.categories ul li a {
    font-size: 1.15em;
    text-transform: capitalize;
    padding: 10px 30px;
    height: 50px;
  }

  nav.categories ul li {
    border-bottom: 1px solid #ededed;
    transition: all 0.4s linear;
  }

  nav.categories ul li:hover {
    background: #01796F;
  }

  nav.categories ul .dropdown:hover {
    background: #01796F
  }

  nav.categories ul .dropdown:hover ul {
    display: initial;
  }
</style>
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">{{'Home'|trans}}</a>
  <span class="breadcrumb-item active">{{'Shop'|trans}}</span>
</nav>
<!-- ================ category section start ================= -->
<section class="section-margin--small mt-2 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="sidebar-categories">
          <div class="head">{{'Categorys'|trans}}</div>
          <nav class="categories">
            <ul>
              {% for item in category_parents %}
              <li class="dropdown">
                <a href="#">{{ item.name }} ({{item.categorys|length}}) <span>&rsaquo;</span></a>
                <ul>
                  {% for item in item.categorys %}
                  <li><a href="?category={{ item.id }}">{{ item.title }} ({{item.articles|length}})</a></li>
                  {% endfor %}
                </ul>
                {# <input class="pixel-radio" {{ item.id==app.request.get('category') ? 'checked' :'' }} type="radio"
                  data-id="{{ item.id }}" name="brand"> #}
                {# <label for="men"><a style="color:#777" href="?category={{ item.id }}">{{ item.name }}<span>
                      (0)</span></a></label> #}
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7">
        <!-- Search bar -->
        {{ search.search(form) }}

        <!-- Start Best Seller -->
        <section class="lattest-product-area pb-40 category-list">
          <div class="row">
            {% for item in articles %}
            <div class="col-md-6 col-lg-4 ">
              {% include "leSekoya/shop/_article.html.twig" %}
            </div>
            {% endfor %}
          </div>
          {{ knp_pagination_render(articles) }}
        </section>
        <!-- End Best Seller -->
      </div>
    </div>
  </div>
</section>
<!-- ================ category section end ================= -->

<!-- ================ top product area start ================= -->
<section class="related-product-area">
  <div class="container">
    <div class="section-intro pb-60px">
      <p>Popular Item in the market</p>
      <h2>Top <span class="section-intro__style">Product</span></h2>
    </div>
    {% include "leSekoya/shop/_top_article.html.twig" %}
  </div>
</section>
<!-- ================ top product area end ================= -->

{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {
    //active shop
    $('#shop').addClass('active')
  })
</script>
{% endblock %}