{% import "macros/search.html.twig" as search %}

{% extends "leSekoya/base.html.twig" %}
{% block title %}Shop{% endblock %}

{% block body %}
<style>
.breadcrumb-2{
  background: transparent
}
.dropdown.desktop.active {
  background-color:#01796F!important;
  color:#fff!important
}
.dropdown.desktop.active > a {
  color:#fff!important
}
</style>
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">{{'Home'|trans}}</a>
  <span class="breadcrumb-item active">{{'Shop'|trans}}</span>
</nav>
<!-- ================ category section start ================= -->
<section class="section-margin--small mt-2 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="sidebar-categories">
          <div class="head">{{'Categorys'|trans}}</div>
          <nav class="categories">
            <ul>
              {% for item in category_parents %}
              <li class="mobile">
                <a href="#" type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.name }} ({{item.categorys|length}}) <span>&rsaquo;</span></a>
                <ul class="dropdown-menu">
                {% for item in item.categorys %}
                  <li class="nav-item">
                    {# <a  href="/admin/">Tableau de board</a> #}
                    <a class="nav-link active" href="?category={{ item.id }}">{{ item.title }} ({{item.articles|length}})</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown desktop {{parent|default() == item.name ? 'active': '' }}">
                <a href="#">{{ item.name }} ({{item.categorys|length}}) <span>&rsaquo;</span></a>
                <ul>
                  {% for item in item.categorys %}
                  <li><a href="{{path('articles_category',{parent:item.parentCategory.name|lower,category:item.slug|lower}) }}">{{ item.title }} ({{item.articles|length}})</a></li>
                  {% endfor %}
                </ul>
                {# <input class="pixel-radio" {{ item.id==app.request.get('category') ? 'checked' :'' }} type="radio"
                  data-id="{{ item.id }}" name="brand"> #}
                {# <label for="men"><a style="color:#777" href="?category={{ item.id }}">{{ item.name }}<span>
                      (0)</span></a></label> #}
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7">
        <!-- Search bar -->
        {{ search.search(form) }}

        <ol class="breadcrumb breadcrumb-2  p-1">
          <li class="breadcrumb-item">Boutique<a href="{{path('articles')}}"></a></li>
          {% if breadcrumb.parent %}
          <li class="breadcrumb-item">{{ breadcrumb.parent}}<a href="#"></a></li>
          <li class="breadcrumb-item active">{{breadcrumb.category}}</li>
          {% endif %}
        </ol>
        <!-- Start Best Seller -->
        <section class="lattest-product-area pb-40 category-list">
          <div class="row">
            {% for item in articles %}
            <div class="col-md-6 col-lg-4 ">
              {% include "leSekoya/shop/_article.html.twig" %}
            </div>
            {% endfor %}
          </div>
          {{ knp_pagination_render(articles) }}
        </section>
        <!-- End Best Seller -->
      </div>
    </div>
  </div>
</section>
<!-- ================ category section end ================= -->

{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {
    //active shop
    $('#shop').addClass('active')
  })
</script>
{% endblock %}