{% extends "leSekoya/base.html.twig" %}
{% block title %}{{ article.title }} {% endblock %}
{% block javascripts %}
<script>
	function myFunction() {
		var copyText = window.location.href;
		navigator.clipboard.writeText(copyText);
		/* Alert the copied text */
		alert("Url copié: " + copyText);
}
</script>
{% endblock %}
{% block body %}
<nav class="breadcrumb">
	<a class="breadcrumb-item" href="/">{{'Home'|trans}}</a>
	<a class="breadcrumb-item" href="{{ path('articles') }}">{{'Shop'|trans}}</a>
	<a class="breadcrumb-item" href="{{ path('articles',{category: article.category.parentCategory.name }) }}">{{ article.category.parentCategory.name	}}</a>
	<a class="breadcrumb-item" href="{{ path('articles',{category: article.category.id }) }}">{{ article.category.title	}}</a>
	<span class="breadcrumb-item active">{{ article.title }}</span>
</nav>
<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6">
				<div class="owl-carousel owl-theme s_Product_carousel">
					{% for item in article.images %}
					<div class="single-prd-item">
						<img class="img-fluid" src="{{ asset('img/article/' ~ item.name ) }}" alt="{{ article.title }}">
					</div>
					{% else %}
					<div class="single-prd-item">
						<img class="img-fluid" src="{{ asset('img/article/vide.png') }}" alt="{{ article.title }}">
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3>{{ article.title }}</h3>
					<h2>{{ article.formatterPrice }} {{ site.current_name}} </h2>
					<ul class="list">
						<li><a class="active" href="#"><span>{{'Category'|trans}}</span> : {{ article.category.title }}</a></li>
						<li><a href="#"><span>{{'Availibility'|trans}}</span> : {{ article.quantity }} {{'In Stock'|trans}}</a></li>
					</ul>
					<p>{{ article.description|nl2br }}</p>
					<div class="row">
						<div class="col-lg-12 my-4">
							<form class="form-row" action="{{ path('cart_index') }}" method="post">
								<div class="form-group col-3">
									<input type="hidden" name="article_id" value="{{ article.id }}">
									<input type="number" class="form-control" min="1" max="{{ article.quantity }}"
										name="qty" value="1">
									<small id="helpId" class="text-muted">Stock: {{ article.quantity }} </small>
								</div>
								<div class="form-group col-9">
									<button type="submit" class="button primary-btn" name="card-add">
										{{'Add to cart'|trans}} <i class="fa fa-cart-plus" aria-hidden="true"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="card_area d-flex align-items-center">
						<a class="icon_btn" href="#">
							<i class="fa fa-heart" aria-hidden="true"></i>
						</a>
						<button onclick="myFunction()" class="icon_btn"><i class="fas fa-copy    "></i></button>
						<a class="icon_btn" href="#">
							<i class="fa fa-share" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab"
					aria-controls="description" aria-selected="true">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="specification-tab" data-toggle="tab" href="#specification" role="tab"
					aria-controls="specification" aria-selected="false">Specification</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab"
					aria-controls="comment" aria-selected="false">{{'Comments'|trans}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					aria-selected="false">{{'Reviews'|trans}}</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
				{{ article.description }}
			</div>
			<div class="tab-pane fade show active" id="specification" role="tabpanel"
				aria-labelledby="specification-tab">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							{% for item in article.options %}
							<tr>
								<td>
									<h5>{{ item.title }} </h5>
								</td>
								<td>
									<h5>{{ item.content }}</h5>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
				<div class="row">
					<div class="col-lg-6">
						<div class="comment_list">
							{% for item in article.comments %}
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="{{ asset('img/product/review-1.png') }}" alt="">
									</div>
									<div class="media-body">
										<h4>{{ item.user.personne.firstName ~ ' ' ~ item.user.personne.lastName }}</h4>
										<h5>{{ item.createdAt|date_format_fr }} </h5>
										<a class="reply_btn" href="#">Reply</a>
									</div>
								</div>
								<p>{{ item.content }}</p>
							</div>
							{% endfor %}
							<div class="review_item reply">
								<div class="media">
									<div class="d-flex">
										<img src="{{ asset('img/product/review-2.png') }}" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<h5>12th Feb, 2018 at 05:56 pm</h5>
										<a class="reply_btn" href="#">Reply</a>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="review_box">
							<h4>Post a comment</h4>
							<form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
								novalidate="novalidate">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Your Full name">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="email" class="form-control" id="email" name="email"
											placeholder="Email Address">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="number" name="number"
											placeholder="Phone Number">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" name="message" id="message" rows="1"
											placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12 text-right">
									<button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="row">
					<div class="col-lg-6">
						<div class="row total_rate">
							<div class="col-6">
								<div class="box_total">
									<h5>Overall</h5>
									<h4>4.0</h4>
									<h6>(03 Reviews)</h6>
								</div>
							</div>
							<div class="col-6">
								<div class="rating_list">
									<h3>Based on 3 Reviews</h3>
									<ul class="list">
										<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="review_list">
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="{{ asset('img/product/review-1.png') }}" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="{{ asset('img/product/review-2.png') }}" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="{{ asset('img/product/review-3.png') }}" alt="">
									</div>
									<div class="media-body">
										<h4>Blake Ruiz</h4>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea
									commodo</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="review_box">
							<h4>Add a Review</h4>
							<p>Your Rating:</p>
							<ul class="list">
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
							</ul>
							<p>Outstanding</p>
							<form action="#/" class="form-contact form-review mt-3">
								<div class="form-group">
									<input class="form-control" name="name" type="text" placeholder="Enter your name"
										required>
								</div>
								<div class="form-group">
									<input class="form-control" name="email" type="email"
										placeholder="Enter email address" required>
								</div>
								<div class="form-group">
									<input class="form-control" name="subject" type="text" placeholder="Enter Subject">
								</div>
								<div class="form-group">
									<textarea class="form-control different-control w-100" name="textarea" id="textarea"
										cols="30" rows="5" placeholder="Enter Message"></textarea>
								</div>
								<div class="form-group text-center text-md-right mt-3">
									<button type="submit" class="button button--active button-review">Submit
										Now</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Product Description Area =================-->

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-0">
	<div class="container">
		<div class="section-intro pb-60px">
			<p>Popular Item in the market</p>
			<h2>Top <span class="section-intro__style">Product</span></h2>
		</div>
			<div class="owl-carousel owl-theme" id="bestSellerCarousel">
		{% for item in articles %}
        {# {{ include ('leSekoya/shop/_article.html.twig',{class:'col-xl-3'}) }} #}
		    {% include "leSekoya/shop/_article.html.twig" %}
        {% endfor %}
		</div>
	</div>
</section>
<!--================ end related Product area =================-->
{% endblock %}