{% import "macros/table.html.twig" as table %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/button.html.twig" as btn %}
{% import "macros/link.html.twig" as link %}

{% extends 'admin/base.html.twig' %}


{% block head %}
  {{ head.dataTable() }}
{% endblock %}

{% block breadcrumb %}
    {{ utils.breadcrumb('Manage user',[
        {
            path:'order_index',
            name:'Manage orders'
        }
    ])}}
{% endblock %}
{% block title %}Users{% endblock %}

{% block body %}
{% for item in app.flashes('success') %}
  {{ alerte.alert(item,'success')}}
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3> <span class="badge badge-info">{{ users|length }}</span> {{'Users'|trans}}</h3> 
            </div>
            <div class="card-body">
                <div class="btn-group mb-3">
                    <a class="btn btn-primary" href="{{ path('user_new') }}"><i class="fa fa-plus"></i> Create new user</a>
                </div>
                <table id="datatable_1" class="table">
                    <thead>
                        <tr>
                            <th>{{'accompte'|trans}}</th>
                            <th>Roles</th>
                            <th>Verified</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.personne.fullName }} </br>
                          <span class="font-weight-bold">Email:</span> {{ user.email }}</td>
                            <td>
                            {% for item in user.roles %}
                                {% if item == 'ROLE_ADMIN' %}
                                    Admin
                                {% elseif item == 'ROLE_CLIENT' %}
                                    Client
                                {% elseif item == 'ROLE_USER' %}
                                    {{'User'|trans}}
                                {% elseif item == 'ROLE_EDITOR' %}
                                    Editeur
                                {% endif %}
                            {% endfor %}
                            <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                            <td>
                                {{ link.edit(path('user_edit', {'id': user.id}))}}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ link.back(path('admin'), 'back to dashboard') }}

            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block foot %}
{{ foot.dataTable()}}
{% endblock %}


{% block javascripts %}
{{ table.jsDataTable('datatable_1') }} 
{# {{table.jsDataTable('datatable_2')  }} #}
  <script>
   $(document).ready(function(){
     //nivagation 
     $('#gestions').addClass(' menu-is-opening menu-open')
     $('.gestions').addClass('active')
     $('.gestion-user').addClass('active')
   })
  </script>
{% endblock %}