{% extends "lest/base.html.twig" %}

{% block javascripts %}
{% endblock %}
{% block head %}
 <script>
function onSubmit(token) {
         document.getElementById("contact-form").submit();
       }
</script> 
{% endblock %}
{% block main %}
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{'Home'|trans}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{'Contact us'|trans}}</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        {# <div id="map" class="mb-5"></div> #}
        <div class="text-center mb-5">
            <img class="d-inline-block my-5" width="100px" src="{{ asset('img/icons/logo-lest.png') }}" />
            <h2 class="title mb-1 text-center">Entrer en contact </h2>
        </div>
        <div class="container">
            {% include "includes/_alerte.html.twig" %}
            {% include "lest/_contact.html.twig" %}
            <hr class="mt-3 mb-5 mt-md-1">
            <div class="touch-container row justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="text-center">
                        <p class="lead text-primary">
                            Nous collaborons avec des marques et des personnes ambitieuses ; nous aimerions construire
                            quelque chose de grand ensemble. </p>
                    </div><!-- End .text-center -->
                    {{ form_start(form_contact,{
                    'attr':{
                    id:'contact-form',
                    'novalidate':'novalidate',
                    'class':'form-contact contact_form align-items-end'
                    }
                    }) }}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{ form_row(form_contact.name) }}
                            </div>
                        </div><!-- End .col-sm-4 -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{ form_row(form_contact.email) }}
                            </div>
                        </div><!-- End .col-sm-4 -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{ form_row(form_contact.phone_number) }}
                            </div>
                        </div><!-- End .col-sm-4 -->
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_row(form_contact.object) }}
                            </div>
                        </div><!-- End .col-sm-4 -->
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(form_contact.message) }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="g-recaptcha btn btn-outline-primary-2 btn-minwidth-sm" 
                                data-sitekey="6LfDomMhAAAAAHVQGcmpEZUbJ-5XsGPq63w_7vw9" 
                                data-callback='onSubmit'>
                                {{'Send Message'|trans }} <i class="icon-long-arrow-right"></i>
                            </button>
                            {# <button class="btn btn-outline-primary-2 btn-minwidth-sm" type="submit">
                            </button> #}
                        </div>
                    </div>
                    {{ form_widget(form_contact) }}
                    {{ form_end(form_contact) }}
                </div><!-- End .col-md-9 col-lg-7 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main>
{% endblock %}

{% block foot %}
<!-- Google Map -->
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDc3LRykbLB-y8MuomRUIY0qH5S6xgBLX4"></script>
{% endblock %}