{% extends "lest/base.html.twig" %}
{% block main %}
<main class="main">
	<div class="intro-section pt-3 pb-3 mb-2">
		<div class="container">
			{% include "includes/_alerte.html.twig" %}
			<div class="row">
				<div class="col-lg-8">
					<div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
						<div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside" data-toggle="owl"
							data-owl-options='{
								"nav": false,
								"dots": true,
								"autoplay":true,
    							"autoplayTimeout":4000,
								"responsive": {
									"768": {
										"nav": true,
										"dots": false
									}
								}
							}'>
							<div class="intro-slide">
								<figure class="slide-image">
									<picture>
										<source media="(max-width: 480px)"
											srcset="{{ asset('img/icons/lest-slide-1-480.png') }}">
										<img src="{{ asset('img/icons/lest-slide-1.png') }}" alt="Image Desc">
									</picture>
								</figure>
								<!-- End .slide-image -->

								<div class="intro-content">
									<!-- End .h3 intro-subtitle -->
									<h1 class="intro-title">
										{# Vidéosurveillance #}
									</h1>
									<!-- End .intro-title -->
									<div class="intro-price">
										{# <sup>{{'Today'|trans}}:</sup> #}
										<span class="text-primary">
											{# 300 000<sup>FCFA</sup> #}
										</span>
									</div>
									<!-- End .intro-price -->

									<a href="{{ path('articles') }}" class="btn btn-primary btn-round">
										<span>{{'Click Here'|trans}}</span>
										<i class="icon-long-arrow-right"></i>
									</a>
								</div>
								<!-- End .intro-content -->
							</div>
							<!-- End .intro-slide -->

							<div class="intro-slide">
								<figure class="slide-image">
									<picture>
										<source media="(max-width: 480px)"
											srcset="{{ asset('img/icons/lest-slide-2-480.png') }}">
										<img src="{{ asset('img/icons/lest-slide-2.png') }}" alt="Image Desc">
									</picture>
								</figure>
								<!-- End .slide-image -->

								<div class="intro-content">
									<h3 class="intro-subtitle text-primary">{{'Laptop'|trans}}</h3>
									<!-- End .h3 intro-subtitle -->
									<h1 class="intro-title">
										Hp Elitebook
										<br>Folio G1
									</h1>
									<!-- End .intro-title -->

									<div class="intro-price">
										<sup class="intro-old-price">{{slide2.price|number_format(0,'',' ')}} FCFA</sup>
										<span class="text-primary">
											{{ slide2.newPrice|number_format(0,'',' ') }}<sup>FCFA</sup>
										</span>
									</div>
									<!-- End .intro-price -->

									<a href="{{ path('articles_show', { category: slide2.category.slug, slug: slide2.slug, id: slide2.id}) }}" class="btn btn-primary btn-round">
										<span>{{'Click Here'|trans}}</span>
										<i class="icon-long-arrow-right"></i>
									</a>
								</div>
								<!-- End .intro-content -->
							</div>
							<!-- End .intro-slide -->
						</div>
						<!-- End .intro-slider owl-carousel owl-simple -->

						<span class="slider-loader"></span>
						<!-- End .slider-loader -->
					</div>
					<!-- End .intro-slider-container -->
				</div>
				<!-- End .col-lg-8 -->

				<div class="col-lg-4">
					<div class="intro-banners">
						<div class="banner mb-lg-1 mb-xl-2">
							<a href="{{path('articles_category',{category:'visiophone'}) }}">
								<img  src="{{ asset('img/cats/visio-banner.png') }}" alt="Banner">
							</a>

							<div class="banner-content">
								<h4 class="banner-subtitle d-lg-none d-xl-block">
									<a href="{{path('articles_category',{category:'visiophone'}) }}" class="text-white">
										{{'Access control'|trans}}
									</a>
								</h4>
								<!-- End .banner-subtitle -->
								<h3 class="banner-title">
									<a href="{{path('articles_category',{category:'visiophone'}) }}"
										class="text-white">{{'videophone'|trans}}</a>
								</h3>
							</div>
							<!-- End .banner-content -->
						</div>
						<!-- End .banner -->

						<div class="banner mb-lg-1 mb-xl-2">
							<a href="/boutique/reseaux">
								<img src="{{ asset('img/icons/banner-2.png') }}" alt="Banner">
							</a>

							<div class="banner-content">
								<h4 class="banner-subtitle d-lg-none d-xl-block">
									<a href="/boutique/reseaux" class="text-white">
										{{'Computer park'|trans}}
									</a>
								</h4>
								<!-- End .banner-subtitle -->
								<h3 class="banner-title">
									<a href="/boutique/reseaux" class="text-white">
										{{'Cabling and Reseas'|trans}}
									</a>
								</h3>
							</div>
							<!-- End .banner-content -->
						</div>
						<!-- End .banner -->

						<div class="banner mb-0">
							<a href="/boutique/cle-usb">
								<img src="{{ asset('img/icons/banner-3.png') }}" alt="Banner">
							</a>
							<div class="banner-content">
								<!-- End .banner-subtitle -->
								<h3 class="banner-title">
									<a href="/boutique/cle-usb" class="text-white">
										{# Support amovible #}
										{{'Removable support'|trans}}
										<span>{{'Flash drive'|trans}}</span>
									</a>
								</h3>
								<!-- End .banner-title -->
								<a href="/boutique/cle-usb" class="banner-link">{{ 'Shop Now'|trans }}<i
										class="icon-long-arrow-right"></i>
								</a>
							</div>
							<!-- End .banner-content -->
						</div>
						<!-- End .banner -->
					</div>
					<!-- End .intro-banners -->
				</div>
				<!-- End .col-lg-4 -->
			</div>
			<!-- End .row -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .intro-section -->

	<div class="container">
		<hr class="mt-3 mb-6">
	</div>
	<div class="container">
		<h2 class="title text-center mb-4">{{'Explore Popular Categories'|trans}}</h2>
		<!-- End .title text-center -->

		<div class="cat-blocks-container">
			<div class="row">
				<div class="col-6 col-sm-4 col-lg-2">
					<a href="{{path('articles_category',{category:'ordinateur-portable'}) }}" class="cat-block">
						<figure>
							<span>
								<img class="mobile-cat" src="{{ asset('img/cats/1.png') }}" alt="Category image">
							</span>
						</figure>
						<h3 class="cat-block-title">{{'Laptop'|trans}}</h3>
						<!-- End .cat-block-title -->
					</a>
				</div>
				<!-- End .col-sm-4 col-lg-2 -->
				<div class="col-6 col-sm-4 col-lg-2">
					<a href="{{path('articles_category',{category:'imprimante-et-accessoires'}) }}" class="cat-block">
						<figure>
							<span>
								<img class="mobile-cat" src="{{ asset('img/cats/imprimante.png') }}" width="100px" alt="Category image">
							</span>
						</figure>

						<h3 class="cat-block-title">{{'Printer'|trans}}</h3>
						<!-- End .cat-block-title -->
					</a>
				</div>
				<!-- End .col-sm-4 col-lg-2 -->
				<div class="col-6 col-sm-4 col-lg-2">
					<a href="{{path('articles_category',{category:'accessoires'}) }}" class="cat-block">
						<figure>
							<span>
								<img class="mobile-cat" src="{{ asset('img/cats/reseaux.png') }}" width="100px" alt="Category image">
							</span>
						</figure>

						<h3 class="cat-block-title">{{'Networks'|trans}}</h3>
						<!-- End .cat-block-title -->
					</a>
				</div>
				<!-- End .col-sm-4 col-lg-2 -->
				<div class="col-6 col-sm-4 col-lg-2">
					<a href="{{path('articles_category',{category:'ordinateur-de-bureau'}) }}" class="cat-block">
						<figure>
							<span>
								<img class="mobile-cat" src="{{ asset('img/cats/computer.png') }}" width="100px" alt="Category image">
							</span>
						</figure>

						<h3 class="cat-block-title">Ordinateur de bureau</h3>
						<!-- End .cat-block-title -->
					</a>
				</div>
				<!-- End .col-sm-4 col-lg-2 -->
				<div class="col-6 col-sm-4 col-lg-2">
					<a href="{{path('articles_category',{category:'memoire'}) }}" class="cat-block">
						<figure>
							<span>
								<img class="mobile-cat" src="{{ asset('img/cats/memoire.png') }}" alt="Category image">
							</span>
						</figure>

						<h3 class="cat-block-title">{{'Memory'|trans}}</h3>
						<!-- End .cat-block-title -->
					</a>
				</div>
				<!-- End .col-sm-4 col-lg-2 -->
				<div class="col-6 col-sm-4 col-lg-2">
					<a href="{{path('articles_category',{category:'claviers-et-souris'}) }}" class="cat-block">
						<figure>
							<span>
								<img class="mobile-cat" src="{{ asset('img/cats/clavier-souris.png') }}" alt="Category image">
							</span>
						</figure>

						<h3 class="cat-block-title">Claviers et souris</h3>
						<!-- End .cat-block-title -->
					</a>
				</div>
				<!-- End .col-sm-4 col-lg-2 -->
			</div>
			<!-- End .row -->
		</div>
		<!-- End .cat-blocks-container -->
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="banner">
					<a href="#">
						<img src="{{ asset('img/icons/lest-visio.png') }}" alt="Banner">
					</a>
					<div class="banner-content">
						<h4 class="banner-subtitle text-white">{{'Surveillance'|trans}} {{'and'|trans}}<br>
							{{'protection'|trans}}
						</h4>
						<!-- End .banner-subtitle -->
						<h3 class="banner-title text-white">{{'Videophone'|trans}}.</h3>
						<!-- End .banner-title -->
					</div>
					<!-- End .banner-content -->
				</div>
				<!-- End .banner -->
			</div>
			<!-- End .col-md-6 -->
			<div class="col-md-6 col-lg-4">
				<div class="banner">
					<a href="#">
						<img src="{{ asset('img/icons/lest-camera.png') }}" alt="Banner">
					</a>
					<div class="banner-content">
						<h4 class="banner-subtitle text-dark">
							{{'cameras'|trans}} {{'and'|trans}}
							<br>
							{{'transmission of images'|trans}}
						</h4>
						<!-- End .banner-subtitle -->
						<h3 class="banner-title">Vidéosurveillance.</h3>
						<!-- End .banner-title -->
					</div>
					<!-- End .banner-content -->
				</div>
				<!-- End .banner -->
			</div>
			<!-- End .col-md-6 -->

			<div class="col-md-6 col-lg-4">
				<div class="banner">
					<a href="#">
						<img src="{{ asset('img/icons/lest-dev.png') }}" alt="Banner">
					</a>
					<div class="banner-content">
						<h4 class="banner-subtitle">Developpement</h4>
						<!-- End .banner-subtitle -->
						<h3 class="banner-title text-white">Création de site web
							<br>
							et d'application mobile.
							<br>
						</h3>
						<!-- End .banner-title -->
						{# <a href="#" class="banner-link">Click here</a> #}
					</div>
					<!-- End .banner-content -->
				</div>
				<!-- End .banner -->
			</div>
			<!-- End .col-md-6 -->
		</div>
	</div>
	<div class="container">
		<div class="heading text-center my-5">
			<img src="{{ asset('img/lest-logo.png') }}" class="mx-auto" width="100px" alt="Lest">
			<h2 class="title-sm">Les Spécialistes de la technologies</h2><!-- End .title -->
			<p class="text-center">Lest est dans l'étude des outils et des techniques informatiques, en matière d'outils et de savoir-faire. Il comprend la vente en ligne, le développement de logiciels, l'installation de parcs informatiques et éventuellement la maintenance informatique</p>
		</div>
	</div>
	<div class="container">
		<hr class="mt-3 mb-6">
	</div>

	
	<div class="container top">
		<div class="heading heading-flex mb-3">
			<div class="heading-left">
				<h2 class="title">{{'Top Selling Products'|trans}}</h2>
				<!-- End .title -->
			</div>
			<!-- End .heading-left -->

			<div class="heading-right">
				<ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
					{% if articles.ordinateurs is not empty %}
					<li class="nav-item">
						<a class="nav-link active" id="top-ordinateurs-link" data-toggle="tab"
							href="#top-ordinateurs-tab" role="tab" aria-controls="top-ordinateurs-tab"
							aria-selected="false">Ordinateurs</a>
					</li>
					{% endif %}
					{% if articles.cle_usb is not empty %}
					<li class="nav-item">
						<a class="nav-link" id="top-cle-usb-link" data-toggle="tab" href="#top-cle-usb-tab" role="tab"
							aria-controls="top-cle-usb-tab" aria-selected="false">Clé Usb</a>
					</li>
					{% endif %}
					{% if articles.claviers_souris is not empty %}
					<li class="nav-item">
						<a class="nav-link" id="top-claviers_souris-link" data-toggle="tab"
							href="#top-claviers_souris-tab" role="tab" aria-controls="top-claviers_souris-tab"
							aria-selected="false">Claviers et Souris</a>
					</li>
					{% endif %}
					{% if articles.imprimante_accessoires is not empty %}
					<li class="nav-item">
						<a class="nav-link" id="top-imprimante_accessoires-link" data-toggle="tab"
							href="#top-imprimante_accessoires-tab" role="tab"
							aria-controls="top-imprimante_accessoires-tab" aria-selected="false">Imprimante et
							accessoires</a>
					</li>
					{% endif %}
				</ul>
			</div>
			<!-- End .heading-right -->
		</div>
		<!-- End .heading -->

		<div class="tab-content tab-content-carousel just-action-icons-sm">
			{% if articles.ordinateurs is not empty %}
			<div class="tab-pane p-0 fade show active" id="top-ordinateurs-tab" role="tabpanel"
				aria-labelledby="top-ordinateurs-link">
				<div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
					data-owl-options='{
						"nav": true,
						"dots": false,
						"margin": 20,
						"loop": false,
						"autoplay":true,
						"autoplayTimeout":4000,
						"responsive": {
							"0": {
								"items":2
							},
							"480": {
								"items":2
							},
							"768": {
								"items":3
							},
							"992": {
								"items":4
							},
							"1200": {
								"items":5
							}
						}
					}'>
					{% for item in articles.ordinateurs %}
					{% include "lest/home/_article.html.twig" %}
					{% endfor %}
				</div>
				<!-- End .owl-carousel -->
			</div>
			<!-- .End .tab-pane -->
			{% endif %}
			{% if articles.cle_usb is not empty %}
			<div class="tab-pane p-0 fade" id="top-cle-usb-tab" role="tabpanel" aria-labelledby="top-cle-usb-link">
				<div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
					data-owl-options='{
						"nav": true,
						"dots": false,
						"margin": 20,
						"loop": false,
						"autoplay":true,
						"autoplayTimeout":4000,
						"responsive": {
							"0": {
								"items":2
							},
							"480": {
								"items":2
							},
							"768": {
								"items":3
							},
							"992": {
								"items":4
							},
							"1200": {
								"items":5
							}
						}
					}'>
					{% for item in articles.cle_usb %}
					{% include "lest/home/_article.html.twig" %}
					{% endfor %}
				</div>
				<!-- End .owl-carousel -->
			</div>
			<!-- .End .tab-pane -->
			{% endif %}
			{% if articles.claviers_souris is not empty %}
			<div class="tab-pane p-0 fade" id="top-claviers_souris-tab" role="tabpanel"
				aria-labelledby="top-claviers_souris-link">
				<div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
					data-owl-options='{
						"nav": true,
						"dots": false,
						"margin": 20,
						"loop": false,
						"autoplay":true,
						"autoplayTimeout":4000,
						"responsive": {
							"0": {
								"items":2
							},
							"480": {
								"items":2
							},
							"768": {
								"items":3
							},
							"992": {
								"items":4
							},
							"1200": {
								"items":5
							}
						}
					}'>
					{% for item in articles.claviers_souris %}
					{% include "lest/home/_article.html.twig" %}
					{% endfor %}
				</div>
				<!-- End .owl-carousel -->
			</div>
			<!-- .End .tab-pane -->
			{% endif %}
			{% if articles.imprimante_accessoires is not empty %}
			<div class="tab-pane p-0 fade" id="top-imprimante_accessoires-tab" role="tabpanel"
				aria-labelledby="top-imprimante_accessoires-link">
				<div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
					data-owl-options='{
						"nav": true,
						"dots": false,
						"margin": 20,
						"loop": false,
						"autoplay":true,
						"autoplayTimeout":4000,
						"responsive": {
							"0": {
								"items":2
							},
							"480": {
								"items":2
							},
							"768": {
								"items":3
							},
							"992": {
								"items":4
							},
							"1200": {
								"items":5
							}
						}
					}'>
					{% for item in articles.imprimante_accessoires %}
					{% include "lest/home/_article.html.twig" %}
					{% endfor %}
				</div>
				<!-- End .owl-carousel -->
			</div>
			<!-- .End .tab-pane -->
			{% endif %}
		</div>
		<!-- End .tab-content -->
	</div>
	
	{% if articles.populaires is not empty %}
	<div class="container">
		<hr class="mt-3 mb-6">
	</div>
	<div class="container top">
		<div class="heading heading-flex mb-3">
			<div class="heading-left">
				<h2 class="title">Populaires</h2>
				<!-- End .title -->
			</div>
			<!-- End .heading-left -->
		</div>
		<!-- End .heading -->

		<div class="tab-content tab-content-carousel just-action-icons-sm">
			<div class="tab-pane p-0 fade show active" id="populaire-tab" role="tabpanel"
				aria-labelledby="populaire-link">
				<div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
					data-owl-options='{
						"nav": true,
						"dots": false,
						"margin": 20,
						"loop": false,
						"autoplay":true,
						"autoplayTimeout":4000,
						"responsive": {
							"0": {
								"items":2
							},
							"480": {
								"items":2
							},
							"768": {
								"items":3
							},
							"992": {
								"items":4
							},
							"1200": {
								"items":5
							}
						}
					}'>
					{% for item in articles.populaires %}
					{% include "lest/home/_article.html.twig" %}
					{% endfor %}
				</div>
				<!-- End .owl-carousel -->
			</div>
			<!-- .End .tab-pane -->
		</div>
		<!-- End .tab-content -->
	</div>
	{% endif %}
	<div class="text-center">
		<a href="{{ path('articles') }}" class="btn btn-primary btn-round">
			<span>Voir Tous nos produits</span>
			<i class="icon-long-arrow-right"></i>
		</a>
	</div>
	<div class="container">
		<hr class="mt-3 mb-6">
	</div>
	{% include "lest/_contact.html.twig" %}
	<!-- End .container -->
</main>
<!-- End .main -->
{% endblock %}