{% import "macros/table.html.twig" as table %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/button.html.twig" as btn %}
{% import "macros/link.html.twig" as link %}

{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
  {{ head.dataTable() }}
{% endblock %}

{% block breadcrumb %}
    {{ utils.breadcrumb('Manage country',[
        {
            path:'country_index',
            name:'Manage country'
        }
    ])}}
{% endblock %}

{% block title %}Country index{% endblock %}

{% block body %}

{% for item in app.flashes('success') %}
  {{ alerte.alert(item,'success')}}
{% endfor %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Country index</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for country in countries %}
                        <tr>
                            <td>{{ country.id }}</td>
                            <td>{{ country.name }}</td>
                            <td>
                                <a href="{{ path('country_show', {'id': country.id}) }}">show</a>
                                <a href="{{ path('country_edit', {'id': country.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('country_new') }}">Create new</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
