{{ form_start(registrationForm,{action:path('app_register'),attr:{
							'novalidate':'novalidate'
							}}) }}

{{ form_row(registrationForm.first_name) }}
{{ form_row(registrationForm.last_name) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.phone_number) }}
{{ form_row(registrationForm.password) }}
{{ form_row(registrationForm.agreeTerms) }}

<div class="form-footer">
	<button type="submit" class="btn btn-outline-primary-2">
		<span>{{'SIGN UP'|trans}}</span>
		<i class="icon-long-arrow-right"></i>
	</button>
</div>
{{ form_widget(registrationForm) }}
