<div class="row">
    <div class="col-lg-{{col|default('10')}} mx-auto">
        <div class="login_form_inner register_form_inner">
            <h3>{{'Create an account'|trans}}</h3>
            {{ form_start(registrationForm,{action:path('app_register'),attr:{
                'class':'login_form row align-items-end',
                'novalidate':'novalidate'
            }}) }}
        
                <div class="col-md-6 form-group">
                    {{form_row(registrationForm.personne.firstName)}}
                    {{form_errors(registrationForm.personne.firstName)}}
                </div>
                <div class="col-md-6 form-group">
                    {{form_row(registrationForm.personne.lastName)}}
                </div>
                <div class="col-md-4 form-group">
                    {{form_row(registrationForm.phone_number)}}
                </div>
                <div class="col-md-4 form-group">
                    {{form_row(registrationForm.email)}}
                </div>
                <div class="col-md-4 form-group">
                    {{form_row(registrationForm.adresse)}}
                </div>
                <div class="form-group col-6">
                    {{ form_row(registrationForm.password)}}
                </div>
                <div class="form-group col-6">
                    {{ form_row(registrationForm.password_verify)}}
                </div>
                <div class="col-md-12 form-group">
                    <div class="creat_account">
                        {{ form_row(registrationForm.agreeTerms) }} 
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="w-100">En créant mon compte je reconnais avoir lu et compris les Conditions Générales d‘Utilisation, puis je confirme être âgé d’au moins 18 ans.</p>
                </div>
                <div class="col-md-6 mx-auto form-group">
                    <button type="submit" value="submit" class="button button-register w-100">Register</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>