{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card card-default">
            <div class="card-header">
            <h3 class="card-title">bs-stepper</h3>
            </div>
                    {{ form_start(registrationForm) }}
            <div class="card-body p-0">
            <div class="bs-stepper linear">
                <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step active" data-target="#one-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="one-part" id="one-part-trigger" aria-selected="true">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Fisrtname  lastname and number phone</span>
                    </button>
                </div>
                <div class="line"></div>
                    <div class="step" data-target="#two-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="two-part" id="two-part-trigger" aria-selected="false" disabled="disabled">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Adresse</span>
                        </button>
                    </div>
                <div class="line"></div>
                    <div class="step" data-target="#tree-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="tree-part" id="tree-part-trigger" aria-selected="false" disabled="disabled">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Email and Password</span>
                        </button>
                    </div>
                </div>

                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="one-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="one-part-trigger">
                        <div class="form-row">
                            <div class="form-group col-6">
                                {{ form_row(registrationForm.personne.firstName) }}
                            </div>   
                            <div class="form-group col-6">
                                {{ form_row(registrationForm.personne.lastName) }}
                            </div>
                            <div class="form-group col-4">
                                {{ form_row(registrationForm.adresses.phone_number)}}
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="stepper.next()">Next</button>
                    </div>
                    <!-- ./User-->
                     <!-- two -->
                    <div id="two-part" class="content" role="tabpanel" aria-labelledby="two-part-trigger">
                        <div class="form-row">
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.adresses.street)}}
                            </div>
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.adresses.city)}}
                            </div>
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.adresses.postal_code)}}
                            </div>
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.adresses.country_code)}}
                            </div>
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.adresses.province_code)}}
                            </div>
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.adresses.province_name)}}
                            </div>
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.adresses.company)}}
                            </div>
                    </div>
                        <button type="button" class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                        <button type="button" class="btn btn-primary" onclick="stepper.next()">Next</button>

                    </div>
                    <!-- ./two -->
                     <!-- two -->
                    <div id="tree-part" class="content" role="tabpanel" aria-labelledby="tree-part-trigger">
                        <div class="form-row">
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.email)}}
                            </div>
                            <div class="form-group col-3">
                                {{ form_row(registrationForm.plainPassword)}}
                            </div>
                            <div class="form-group col-3">
                                {# {{ form_row(registrationForm.adresses.city)}} #}
                            </div>
                        <div class="form-group col-4">
                            {{ form_row(registrationForm.agreeTerms) }}
                        </div>
                    </div>
                        <button type="button" class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <!-- ./two -->
                </div>
            </div>
            </div>
            {{ form_end(registrationForm) }}                        
            <!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-dark" href="{{ path('order_index') }}">back to list <i class="fas fa-arrow-alt-circle-left    "></i> </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
          // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })

                $(document).ready(function () {
                    var stepper = new Stepper($('.bs-stepper')[0])
                    // alert('o')
                })
    </script>
{% endblock %}
