
<!-- title row -->
<div class="row">
<div class="col-10">
    <h4>
    <img src="{{ asset('img/sekoya2.png') }}" alt="" width="120px">
    <small class="float-right">Date: {{ order.createdAt| date('d/m/Y') }}</small>
    </h4>
</div>
<!-- /.col -->
</div>
<!-- info row -->
<div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
        {{'From'|trans}}
        <address>
        <strong>{{ app_name }}, Inc.</strong><br>
        {{ site.ville}}, {{ site.adresse}} {{ site.code_postal }}<br>
        Phone: {{ site.phone_number_1 }} ( whastapp) <br>
        Email: {{ site.email}}
        </address>
    </div>
<!-- /.col -->
<div class="col-sm-4 invoice-col">
    {{'To'|trans}}
    <address>
    <strong>{{ order.user.personne.firstName ~ ' ' ~ order.user.personne.lastName }}</strong><br>
    {{ order.user.adresse }}<br>
    {{'Phone'|trans}}: {{ order.user.phoneNumber }}<br>
    {{'Email'|trans}}: {{ order.user.email }}
    </address>
</div>
<!-- /.col -->
<div class="col-sm-4 invoice-col">
    <b>{{'Invoice'|trans}} #{{ order.number }}</b><br>
    <br>
    <b>{{'Order'|trans}} ID:</b> #{{ order.id}} <br>
    <b>{{'Payment Due'|trans}}:</b> {{ order.paymentDue | date('d/m/Y') }} <br>
</div>
<!-- /.col -->
</div>
<!-- /.row -->

<!-- Table row -->
<div class="row">
<div class="col-12 table-responsive">
    <table class="table">
    <thead>
    <tr>
        <th>Qty</th>
        <th>Product</th>
        <th>price</th>
        <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.orderItem %}
    <tr>
        <td width="3%" >{{ item.quantity }}</td>
        <td>{{ item.produitName }}</td>
        <td>{{ item.unitPrice|number_format(2,'.',' ') }} XOF</td>
        <td>{{ item.UnitsTotal | number_format(2,'.',' ') }} XOF</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
<!-- accepted payments column -->
<div class="col-6">
    <p class="lead">Payment Methods:</p>
    {{ order.payment.paymentMethod.name }}
    {# <img src="{{ asset('adminlte/dist/img/credit/visa.png') }}" alt="Visa"> #}
    {# <img src="{{ asset('adminlte/dist/img/credit/mastercard.png') }}" alt="Mastercard">
    <img src="{{ asset('adminlte/dist/img/credit/american-express.png') }}" alt="American Express">
    <img src="{{ asset('adminlte/dist/img/credit/paypal2.png') }}" alt="Paypal"> #}

    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
    {{ order.payment.paymentMethod.description }}
    </p>
</div>
<!-- /.col -->
<div class="col-6">
    <p class="lead">{{'Amount Due'|trans}} {{ order.paymentDue| date('d/m/Y') }}</p>

    <div class="table-responsive">
    <table class="table">
        <tr>
        <th style="width:50%">Subtotal:</th>
        <td>{{ order.itemsTotal | number_format(2,'.',' ') }} {{ site.current }} </td>
        </tr>
        <tr>
            <th>{{'Shipping'|trans}}:</th>
            <td>{{ (order.deliverySpace)? order.deliverySpace.street.shippingAmount.amount:'0' |number_format(2,'.',' ') }} {{ site.current }} </td>
        </tr>
        <tr>
        <th>Total:</th>
        <td>{{ order.total| number_format(2,'.',' ') }} {{ site.current }} </td>
        </tr>
    </table>
    </div>
</div>
<!-- /.col -->
</div>
<!-- /.row -->

