{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/table.html.twig" as table %}
{% import "macros/link.html.twig" as link %}


{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
  {{ head.dataTable() }}
{% endblock %}

{% block title %}Order - {{ order.user.personne.firstname ~ ' ' ~ order.user.personne.lastname  }} - {{ app_name }} {% endblock %}



{% block breadcrumb %}
    {{ utils.breadcrumb('Edit Order',breadcrumb) }}
{% endblock %}

{% block body %}

{% for item in app.flashes('success') %}
  {{ alerte.alert(item,'success')}}
{% endfor %}

{% for item in app.flashes('warning') %}
  {{ alerte.alert(item,'warning')}}
{% endfor %}
    
<div class="row">
    <div class="col-md-8">
        <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.query.get('tab') is null or app.request.query.get('tab') == '' %}active{% endif %}" id="custom-tabs-three-home-tab"
                            data-toggle="pill" href="#order-detail" role="tab"
                            aria-controls="custom-tabs-three-home" aria-selected="true">Details Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.query.get('tab') == 'facturation' %}active{% endif %} " id="custom-tabs-three-profile-tab" data-toggle="pill"
                            href="#order-facturation" role="tab"
                            aria-controls="custom-tabs-three-profile"
                            aria-selected="false">Facturation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.query.get('tab') == 'articles' %}active{% endif %} " id="custom-tabs-three-profile-tab" data-toggle="pill"
                            href="#order-articles" role="tab"
                            aria-controls="custom-tabs-three-profile"
                            aria-selected="false">Details articles</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                    <div class="tab-pane fade {% if app.request.query.get('tab') is null or app.request.query.get('tab') == ''  %}show active{% endif %}" id="order-detail"
                        role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                        <div class="row">
                            <div class="col-md-12">
                         {{ include('admin/order/_form.html.twig', {'button_label': 'Update'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if app.request.query.get('tab') == 'facturation' %}show active{% endif %}" id="order-facturation" role="tabpanel"
                        aria-labelledby="custom-tabs-three-profile-tab">
                        <h4>Amount : {{ order.total| number_format(2,'.',' ') }} XOF </h4>
                        {{ form_start(formFacturation,{action: path('payment_edit',{id: order.payment.id }) }) }}
                            {{ form_widget(formFacturation) }}
                            <button class="btn btn-primary">{{ button_label|default('Save') }} <i class="fas fa-save    "></i> </button>
                        {{ form_end(formFacturation) }}
                    </div>
                    <div class="tab-pane fade {% if app.request.query.get('tab') == 'articles' %}show active{% endif %}" id="order-articles" role="tabpanel"
                        aria-labelledby="custom-tabs-three-profile-tab">
                        <table class="table">
                            <thead>
                                <th>Quantity</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>actions</th>
                            </thead>
                            <tbody>
                            {% for item in order.orderItem %}
                                <tr>
                                    <td width="20%">

                                            {{ item.quantity }}

                                    </td>
                                    <td>{{ item.produitName }}  </td>
                                    <td>{{ item.unitPrice| number_format(2,',',' ') }}</td>
                                    <td width="100">{{ item.unitsTotal | number_format(2,',',' ') }}</td>
                                    <td>
                                        <a  href="{{ path('order_item_edit',{article_id: '1' ,id: item.id}) }}"><i class="fas fa-pencil-alt text-success"></i> </a>
                                        <form class="d-inline-block" method="post" action="{{ path('order_item_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                            <button class="btn"><i class="text-danger fa fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-6">
                                <p class="lead">Payment Methods:</p>
                                {{ order.payment.paymentMethod.name }}
                                
                                <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                {{ order.payment.paymentMethod.description }}
                                </p>
                            </div>
                            <!-- /.col -->
                            <div class="col-6">
                                <p class="lead">Amount Due {{ order.paymentDue|date_format_fr  }}</p>

                                <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td>{{ order.itemsTotal | number_format(2,'.',' ') }} XOF</td>
                                    </tr>
                                    {# <tr>
                                    <th>Tax (9.3%)</th>
                                    <td>$10.34</td>
                                    </tr> #}
                                    <tr>
                                    <th>Shipping:</th>
                                    <td>{{ order.total| number_format(2,'.',' ') }} XOF </td>
                                    </tr>
                                    <tr>
                                    <th>Total:</th>
                                    <td>{{ order.total| number_format(2,'.',' ') }} XOF </td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                            <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        {{ form_start(formItem,{
                            'attr':{
                                'novalidate':'novalidate',
                                'class':'col-lg-12'
                            }
                        }) }}
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(formItem.article)}}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(formItem.unit_price)}}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(formItem.quantity)}}
                            </div>
                            <div class="col">
                            {{ form_widget(formItem) }}
                                <button class="btn btn-default">{{ button_label|default('Save') }}</button>
                            </div>
                        </div>
                        {{ form_end(formItem) }}

                    </div>
                    <div class="tab-pane fade" id="order-shipping" role="tabpanel"
                        aria-labelledby="custom-tabs-three-profile-tab">
                            {# {{ include ("admin/order/_datatable.html.twig",{id:'4',orders: ordersCompleted}) }} #}
                    </div>
                </div>
            </div>
            <!-- /.card -->
            <div class="card-footer">
                {{ link.back(path('order_index'),'back to list order') }}
                {{ link.back(path('admin_client_order',{id:order.user.id }),'back to client list order') }}
            </div>
        </div>
    </div>
    {# <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Edit Order</h4>
            </div>
            <div class="card-body">
                 <a href="{{ path('order_index') }}">back to list</a>

            </div>
        </div>
    </div> #}
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                Order detail
            </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">{{'Order'|trans }} </dt>
                <dd class="col-sm-8">n° #{{ order.id }}</dd>
                <dt class="col-sm-4">{{'Invoice'|trans }} </dt>
                <dd class="col-sm-8">n° #{{ order.number }}</dd>
                <dt class="col-sm-4">{{'State Order'|trans}}</dt>
                <dd class="col-sm-8">{{ order.state }}</dd>
                <dt class="col-sm-4">{{'Shipping state'|trans }}</dt>
                <dd class="col-sm-8">{{ '' }}</dd>
                <dt class="col-sm-4">{{'Shipping amount'|trans }}</dt>
                <dd class="col-sm-8">{{ order.total|number_format(2,'.',' ') }} XOF</dd>
                <dd class="col-sm-8">{{ 'shipping state' }}</dd>
                <dt class="col-sm-4">{{'Shipping amount'|trans }}</dt>
                <dd class="col-sm-8">{{ 'shipping'|number_format(2,'.',' ') }} XOF</dd>
            </dl>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                {{'Order Facturation'|trans }}
            </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">{{'Full nam'|trans }}e</dt>
                <dd class="col-sm-8">{{ order.user.personne.firstname ~ ' ' ~ order.user.personne.lastname }}</dd>
                <dt class="col-sm-4">Domicile</dt>
                <dd class="col-sm-8">a modifier
                </dd>
                <dt class="col-sm-4">{{'Amount'|trans}} </dt>
                <dd class="col-sm-8">{{ order.total| number_format(2,'.',' ') }} XOF</dd>
                <dt class="col-sm-4">{{'State payment'|trans }}</dt>
                <dd class="col-sm-8">{{ order.payment.state }}</dd>
                <dt class="col-sm-4">{{'Payment method'|trans }}</dt>
                <dd class="col-sm-8">{{ order.payment.paymentMethod.name }}</dd>
            </dl>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                {{'Shipping Adress'|trans }}
            </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <dl class="row">
            <div class="col-sm-12">            
                <a href="{{ path('order_adress_edit',{ order_id: order.id , id: order.id }) }}">
                    Manage adresses <i class="fa fa-user"></i> 
                </a> #}
            </div>
                <dt class="col-sm-4">Email adress</dt>
                <dd class="col-sm-8"></dd>
                
                <dt class="col-sm-4">Phone number</dt>
                <dd class="col-sm-8"></dd>
                
                <dt class="col-sm-4">Company name </dt>
                <dd class="col-sm-8"></dd>
                
                <dt class="col-sm-4">Postal code</dt>
                <dd class="col-sm-8"></dd>

                <dt class="col-sm-4">Province code</dt>
                <dd class="col-sm-8"></dd>
                
                <dt class="col-sm-4">Adress</dt>
                <dd class="col-sm-8">{{ '' }}</dd>
            </dl>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

{% endblock %}

{% block foot %}
{{ foot.dataTable()}}
{% endblock %}

{% block javascripts %}
{{ table.jsDataTable('datatable_1') }} 
{# {{table.jsDataTable('datatable_2')  }} #}
  <script>
   $(document).ready(function(){
     //nivagation 
     $('#gestions').addClass(' menu-is-opening menu-open')
     $('.gestions').addClass('active')
     $('.gestion-order').addClass('active')
   })
  </script>
{% endblock %}