{% import "macros/breadcrumb.html.twig" as utils %}

{% extends 'admin/base.html.twig' %}

{% block title %}New Order | {{ app_name }} {% endblock %}

{% block breadcrumb %}
    {{ utils.breadcrumb('Add Order',[
        {
            path:'order_index',
            name:'Manage orders'
        },
        {
            path:'order_new',
            name:'Add order'
        }
    ])}}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h4>Create new Order</h4>
            </div>
            <div class="card-body">
               {{ form_start(form,{
    'attr':{
        'novalidate':'novalidate'
    }
}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-lg">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
                <a class="btn btn-dark" href="{{ path('order_index') }}">back to list <i class="fas fa-arrow-alt-circle-left    "></i> </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
