<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | {{ app_name }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce" name="keywords">
    <meta content="eCommerce" name="description">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lest/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/store.css') }}">
    {{ encore_entry_link_tags('app') }}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">{{ app_name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('articles') }}">Boutique</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('articles') }}">Toutes les produits</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Bottom Bar End -->
    <main>
        {% block Breadcrumb %}{% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>
    <footer></footer>
    {% block foot %}{% endblock %}
        <!-- sweetalert2 -->
    <script type="application/javascript" src="{{ asset('vendor/sweetalert2/sweetalert2.all.min.js') }}"></script>
    <script type="application/javascript" src="{{asset('js/admin.js') }}"></script>
    <script src="{{asset('js/article.js') }}"></script>
    <script src="{{asset('js/store.js') }}"></script>
    <script src="{{asset('js/util.js') }}"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
     {{ encore_entry_script_tags('app') }}
</body>

</html>