{% extends 'lesekoya/base.html.twig' %}
{% import "macros/alertes.html.twig" as alertes %}

{% block title %}Client {% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">{{'Home'|trans}}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('client_index') }}">{{'Customer'|trans}}</a></li>
    <li class="breadcrumb-item active">{{'Cart'|trans}}</li>
</ol>
{% for item in app.flashes('success') %}
    {{ alertes.alert(item,'success') }}
{% endfor %}
<div class="container-fluid">

    <div class="row my-5">
        {% include "client/nav.html.twig" %}
        <div class="col-lg-8 div-primary">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <p class="p-0 m-0 ">Mes adresses</p>
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('.my-adresse').addClass('active')
    })
</script>
{% endblock %}