{% extends 'lesekoya/base.html.twig' %}
{% import "macros/search.html.twig" as search %}

{% block title %}personnal information | {{app_name}} {% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('articles') }}">Shop</a></li>
    <li class="breadcrumb-item active">Cart</li>
</ol>
<section>
    <div class="container">
        <div class="row my-5">
                {% include "client/nav.html.twig" %}
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <p class="p-0 m-0 h4">{{ 'My account'|trans }}</p>    
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="p-0 m-0 ">Personal information <a href="" class="float-right"><i class="text-success fas fa-pencil-alt    "></i></a> </p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Malick Tounkara</p>
                                        <p class="text-muted ">malick@store.com</p>
                                        <p>
                                            <a href="#" class="text-info 2rem">
                                                {# Modifier le mot de passe  #}
                                            {{ 'Change password'|trans }} 
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="p-0 m-0 ">Adress <a href="#" class="float-right"><i class="text-success fas fa-pencil-alt    "></i></a> </p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Dakar senegal, 11000 dakar Liberte 4</p>
                                        <p>781278288</p>
                                        <p>
                                            <a href="#" class="text-info">
                                            {{ 'Manage adresses'|trans }}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.my-account').addClass('active')
        })
    </script>
{% endblock %}
