{% import "macros/breadcrumb.html.twig" as utils %}

{% extends 'admin/base.html.twig' %}


{% block title %}Hello !{% endblock %}

{% block breadcrumb %}
    {{ utils.breadcrumb('Dashboard'|trans) }}
{% endblock %}

{% block head %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ asset('adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-star"></i></span>

            <div class="info-box-content">
            <span class="info-box-text">{{'Product Online'|trans}} </span>
            <span class="info-box-number">
                {{ productOnline|default('0') }}
                {# <small>%</small> #}
            </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                <span class="info-box-text">{{'Client'|trans}}</span>
                <span class="info-box-number">{{ clients|length|default('0') }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

            <div class="info-box-content">
            <span class="info-box-text">{{'Order in progress'|trans}}</span>
            <span class="info-box-number">{{ orderInProgress|length |default('0') }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
            <span class="info-box-text">{{'New Members'|trans}}</span>
            <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
  
        <!-- /.card -->
        <div class="row">
            <div class="col-md-12">
                        <!-- TABLE: LATEST ORDERS -->
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">{{'Latest Orders'|trans}}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                <thead>
                <tr>
                    <th>Order number</th>
                    <th>{{'client'}}</th>
                    <th>{{'Status'|trans}}</th>
                    <th>{{'Created at'|trans}}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in lastOrder %}
                    
                <tr>
                    <td><a href="{{ path('order_edit',{id:item.id}) }}">{{ item.number }}</a>
                        <a class="text-dark" href="{{ path('order_show',{id:item.id}) }}"><i class="fa fa-eye float-right" aria-hidden="true"></i></a>
                    </td>
                    <td>{{ item.user.email }}</td>
                    <td><span class="badge badge-success">{{ item.state }}</span></td>
                    <td>{{ item.createdAt|date_format_fr }}</td>
                </tr>
                {% else %}
                <tr class="text-center">
                    <td width="100%">not found</td>
                </tr>
                {% endfor %}
                
                </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
            <a href="{{ path('order_new') }}" class="btn btn-sm btn-info float-left">{{'Place New Order'|trans}}</a>
            <a href="{{ path('order_index') }}" class="btn btn-sm btn-secondary float-right">{{'View All Orders'|trans}}</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-6">
            
            <!-- USERS LIST -->
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">{{'Latest user'|trans}}</h3>

                <div class="card-tools">
                    {# <span class="badge badge-danger">8 New Members</span> #}
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    </button>
                    {# <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button> #}
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                <ul class="users-list clearfix">
                    {% for item in latestUser %}
                        
                    <li>
                        <img src="{{ asset('img/user/' ~ item.personne.avatar|default('empty.png')) }}" alt="User Image">
                        <a class="users-list-name" href="#">{{ item.personne.fullName }}</a>
                        <span class="users-list-date">{{ item.lastLoginAt|date('D-m-Y H:i') }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <!-- /.users-list -->
                </div>
                <!-- /.card-body -->
                {% if is_granted('ROLE_ADMIN') %}
                <div class="card-footer text-center">
                <a href="{{ path('user_index') }}">{{'View All Users'|trans}}</a>
                </div>
                {% endif %}
                <!-- /.card-footer -->
            </div>
            <!--/.card -->
            </div>
            <!-- /.col -->
            {% endif %}
        </div>
        <!-- /.row -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
        <!-- Info Boxes Style 2 -->
        <div class="info-box mb-3 bg-warning">
            <span class="info-box-icon"><i class="fas fa-tag"></i></span>

            <div class="info-box-content">
            <span class="info-box-text">Inventory</span>
            <span class="info-box-number">{{ allArticle }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        <div class="info-box mb-3 bg-success">
            <span class="info-box-icon">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </span>

            <div class="info-box-content">
            <span class="info-box-text">{{'Orders'|trans}}</span>
            <span class="info-box-number">{{orders|default('0') }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->


        <!-- PRODUCT LIST -->
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">{{'Recently Added Products'|trans}}</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
            <ul class="products-list product-list-in-card pl-2 pr-2">
            {% for item in recentlys %}
                <li class="item">
                    <div class="product-img">
                        {% for item in item.images|slice(0,1) %}
                            <img src="{{ asset('img/article/' ~ item.name ) }}" alt="Product Image" class="img-size-50">
                        {% else %}
                            <img src="{{ asset('img/default-150x150.png') }}" alt="Product Image" class="img-size-50">
                        {% endfor %}
                    </div>
                    <div class="product-info">
                        <a href="{{ path('article_show',{id:item.id}) }} " class="product-title">{{ item.title }}
                        <span class="badge badge-warning float-right">{{ item.price|number_format(0,'',' ') }}</span></a>
                        <span class="product-description">
                        {{ item.description }}
                        </span>
                    </div>
                </li>
                <!-- /.item -->
            {% endfor %}
            </ul>
            </div>
            <!-- /.card-body -->
            <div class="card-footer text-center">
            <a href="{{ path('article_index') }}" class="uppercase">{{'View All Products'|trans}}</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div><!--/. container-fluid -->
{% endblock %}

{% block foot %}
<!-- overlayScrollbars -->
<script src="{{ asset('vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{{ asset('vendor/jquery-mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('vendor/raphael/raphael.min.js') }}"></script>
<script src="{{ asset('vendor/jquery-mapael/jquery.mapael.min.js') }}"></script>
<script src="{{ asset('vendor/jquery-mapael/maps/usa_states.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ asset('vendor/chart.js/Chart.min.js') }}"></script>

<!-- AdminLTE for demo purposes -->
<script src="{{ asset('js/demo.js') }}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset('js/pages/dashboard2.js') }}"></script>
{% endblock %}


