{% macro etat(etat) %}
    {% if etat == 'Activer' %}
        <span class="badge badge-success">Activer</span>
        {% elseif etat == 'Désactiver' %}
        <span class="badge badge-warning">Désactiver</span>
        {% elseif etat == 'Meilleurs ventes' %}
        <span class="badge badge-success">Meilleurs ventes</span>
        {% else %}
        <span class="badge badge-light">{{etat}}</span>
    {% endif %}
{% endmacro %}

{% macro order(etat) %}
    {% if etat == 'completed' %}
        <span class="badge badge-success">{{'completed'|trans}}</span>
        {% elseif etat == 'Désactiver' %}
        <span class="badge badge-warning">{{etat}}</span>
        {% elseif etat == 'in progress' %}
        <span class="badge badge-primary">{{'in progress'|trans}}</span>
        {% elseif etat == 'waiting' %}
        <span class="badge badge-light">{{'waiting'|trans}}</span>
        {% elseif etat == 'canceled' %}
        <span class="badge badge-danger">{{'canceled'|trans}}</span>
        {% elseif etat == 'shipping' %}
        <span class="badge badge-warning">{{'shipping'|trans}}</span>
        {% else %}
        <span class="badge">{{etat}}</span>
    {% endif %}
{% endmacro %}

{% macro articleLabel(label,circle = false) %}
    {% if label == 'New' %}
        <span class="product-label {{ circle ? 'label-circle':'' }} label-new">{{'New'|trans}}</span>
        {% elseif label == 'Top' %}
        <span class="product-label {{ circle ? 'label-circle':'' }} label-top">{{'Top'|trans}}</span>
        {% elseif label == 'Out' %}
        <span class="product-label {{ circle ? 'label-circle':'' }} label-out">{{'Stock'|trans}}</span>
    {% endif %}
{% endmacro %}