{% macro li(item) %}
<li class="nav-item">
    <a href="{{  path(item.path) }}" class="nav-link {{ app.request.attributes.get('_route') == item.path ? 'active': '' }} ">
        <i class="{{ item.icon|default('far fa-circle') }} nav-icon"></i>
        <p>{{ item.name|default('name') }}</p>
    </a>
</li>
{% endmacro %}

{% macro list(items,role,parent_page) %}
        {% import _self as li %}
        {% import _self as section %}
        {% if role is defined and role != '' %}
            <li class="nav-header">{{ role|default('') }}</li>
        {% endif %}
        {% for item in items %}
             {% if item.links is not defined %}
                {{ li.li(item)}}
        {% else %}
            {{ section.section(item.name,{role:role|default() ,pages:item.links,icon:item.icon|default('far fa-circle'),active:parent_page})}}
        {% endif %}
        {% endfor %}
{% endmacro %}

{% macro section(section,option) %}
    {% import _self as li %}
<li class="nav-item {{ option.active|default('') == section ? 'menu-open':''  }} ">
    <a href="{{ option.link|default('#') }}" class="nav-link {{ option.active|default('') == section ? 'active':'' }}">
        <i class="nav-icon {{ option.icon|default('far fa-circle') }}"></i>
        <p>
        {{ section }}
        <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        {% for item in option.pages|default() %}
        {{ li.li(item) }}
        {% endfor %}
    </ul>
</li>
{% endmacro %}