{% macro search(form) %}
<div class="rounded pt-3 mb-3">
    <div class="container">
        {{ form_start(form,{action:path('articles'), attr:{
            id:'search-form'
        } }) }}
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-row ">
                    <div class="col-md-6 col-12">
                    {{ form_row(form.minPrice)}}
                    </div>
                    <div class="col-md-6 col-12">
                    {{ form_row(form.maxPrice)}}
                    </div>
                    {# <div class="col-4">
                    {{ form_row(form.category)}}
                    </div> #}
                    <div class="col-md-8 col-12">
                    {{ form_row(form.mots)}}
                    </div>
                    <div class="col-md-4 col-12">
                        <button class="btn btn-search w-100 btn-primary">{% trans %}Search{% endtrans %} <i class="fa fa-search-plus" aria-hidden="true"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endmacro %}

{% macro allAsearch(params) %}
    
{% endmacro %}