{% extends 'base.html.twig' %}

{% block title %}Coupon{% endblock %}

{% block body %}
    <h1>Coupon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coupon.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ coupon.code }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ coupon.type }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ coupon.valeur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_coupon_index') }}">back to list</a>

    <a href="{{ path('admin_coupon_edit', {'id': coupon.id}) }}">edit</a>

    {{ include('admin_coupon/_delete_form.html.twig') }}
{% endblock %}
