{% import "macros/table.html.twig" as table %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/button.html.twig" as btn %}
{% import "macros/link.html.twig" as link %}

{% extends 'admin/base.html.twig' %}


{% block stylesheets %}
	{{ head.dataTable() }}
{% endblock %}

{% block breadcrumb %}
	{{ utils.breadcrumb('Manage user',[
{
path:path('user_index'),
name:'Manage users'
}
])}}
{% endblock %}
{% block title %}
	{{'New Client'|trans}}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<div class="card card-outline card-success">
				<div class="card-header">
					<div class="card-title">New Client</div>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-6 col-12">
									{{ form_row(form.personne.firstName)}}
								</div>
								<div class="col-md-6 col-12">
									{{ form_row(form.personne.lastName)}}
								</div>
								<div class="col-md-6 col-12">
									{{ form_row(form.email)}}
								</div>
								<div class="col-md-6 col-12">
									{{ form_row(form.phone_number)}}
								</div>
								<div class="col-md-4 col-12">
									{{ form_row(form.adresse.rue)}}
								</div>
								<div class="col-md-4 col-12">
									{{ form_row(form.adresse.city)}}
								</div>
								<div class="col-md-4 col-12">
									{{ form_row(form.adresse.pays)}}
								</div>
								<div class="col-md-4 col-12">
									{{ form_row(form.password)}}
								</div>
							</div>
							<button class="btn btn-success">{{ button_label|default('Save') }}</button>
							<hr>
							{{ link.back(path('admin_client_index'),'back to client list'|trans) }}
						</div>
						<div class="col-md-4">
							<div class="callout callout-info">
								<h5>
									<i class="icon fas fa-exclamation-triangle"></i>
									Attention !
								</h5>
								<p>Les noms des champs avec un ( * ) sont obligatoires.</p>
							</div>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>

	</div>
{% endblock %}
