<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ app_name }} - {% block title %}{% endblock %} </title>
  <link rel="icon" href="{{ asset('img/lesekoya (2).png') }}" type="image/png">
  <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendor/themify-icons/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ asset('vendor/nice-select/nice-select.css') }}">
  <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.carousel.min.css') }}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{{ asset('vendor/select2/css/select2.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendor/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<style>
.btn.btn-search.w-100.btn-primary{
  height:35px!important
}
</style>
<div class="wrapper">
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="{{ path('home') }}"><img src="{{ asset('img/sekoya2.png') }}"
              alt="leSekoya"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item" id="home"><a class="nav-link" href="{{ path('home') }}"> <i class="fa fa-home"
                    aria-hidden="true"></i> Home</a></li>
              <li class="nav-item" id="shop">
                <a href="{{ path('articles') }}" class="nav-link">
                  <i class="fa fa-shopping-bag" aria-hidden="true"></i> {{ 'Shop'|trans }}
                </a>
              </li>

              <li class="nav-item" id="contact">
                <a class="nav-link" href="{{ path('contact') }}">
                  <i class="fa fa-address-card" aria-hidden="true"></i>
                  Contact
                </a>
              </li>
              {% if is_granted('ROLE_EDITOR') %}
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">{{'Manage'|trans}}</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">{{'Dashbord'|trans}}</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ path('article_index') }}">Articles</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ path('category_index') }}">Category</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ path('order_index') }}">{{'Order'|trans}}</a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                      <i class="fa fa-power-off text-danger" aria-hidden="true"></i>
                      Log out
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}
              {% if is_granted('ROLE_CLIENT') %}
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false"> <i class="fa fa-user" aria-hidden="true"></i> {{'Hello'|trans}} {{
                  app.user.personne.firstName}} </a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="{{ path('client_index') }}">{{'My account'|trans}}</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ path('client_order') }}">{{'Order'|trans}}</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ path('client_buy') }}">{{'My buy'|trans}}</a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                      <i class="fa fa-power-off text-danger" aria-hidden="true"></i>
                     {{'Log out'|trans}}
                    </a>
                  </li>
                </ul>
              </li>
              {% endif %}
            </ul>

            <ul class="nav-shop">
              {# <li class="nav-item"><button><i class="ti-search"></i></button></li> #}
              <li class="nav-item">
                <a href="{{ path('cart_index') }}">
                  <button>
                    <i class="ti-shopping-cart"></i>
                    <span class="nav-shop__circle">
                      {{ app.request.session.get('panier') |length }}</span>
                  </button>
                </a>
              </li>
              {% if not is_granted('ROLE_CLIENT') %}
              <li class="nav-item">
                <a href="{{ path('app_login') }}">
                  <button>
                    <i class="fas fa-user"></i>
                    {{'Log in'|trans}} / {{'Register'|trans}}
                  </button>
                </a>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  class="nav-link dropdown-toggle"><img width="30px"
                    src="{{ asset('img/pays/' ~ app.request.locale ~ '') }}.jpg" alt="lang"> {{app.request.locale}} </a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  {% for item in locales %}
                  {% if item != app.request.locale %}
                  <li>
                    <a href="{{ path('lang',{ locale: item }) }}" class="dropdown-item">
                      <img width="30px" src="{{ asset('img/pays/' ~ item ~ '') }}.jpg" alt="" srcset="">
                      {{item}} </a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->
  {% block body %}

  {% endblock %}
  <!--================ Start footer Area  =================-->
  <footer class="footer mt-3">
    <div class="footer-area bg-1">
      <div class="container">
        <div class="row section_gap">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title large_title">{{'Our Mission'|trans}}</h4>
              <p>
                {{ site.mission_text }}
              </p>
              <p>
                {{"So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved"|trans}}
              </p>
            </div>
          </div>
          <div class="offset-lg-2 col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">{{'Quick Links'|trans}}</h4>
              <ul class="list">
                <li><a href="{{ path('home') }}">{{'Home'|trans}}</a></li>
                <li><a href="{{ path('articles') }}">{{'Shop'|trans}}</a></li>
                <li><a href="{{ path('app_login') }}">{{'Log in'|trans}}</a></li>
                <li><a href="{{ path('app_register') }}">{{'Register'|trans}}</a></li>
              </ul>
            </div>
          </div>
          <div class="offset-lg-2 col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget tp_widgets">
              <h4 class="footer_title">{{'Contact Us'|trans}}</h4>
              <div class="ml-40">
                <p class="sm-head">
                  <span class="fa fa-location-arrow"></span>
                  Head Office
                </p>
                <p>Sacré coeur, Dakar</p>

                <p class="sm-head">
                  <span class="fa fa-phone"></span>
                  {{'Phone Number'|trans}}
                </p>
                <p>
                  {{site.phone_number_1}} <br>
                  {{ site.phone_number_2}}
                </p>

                <p class="sm-head">
                  <span class="fa fa-envelope"></span>
                  Email
                </p>
                <p>
                  {{ site.email }} <br>
                  <a href="{{ site.link }}">
                    www.{{site.name}}.com
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex">
          <p class="col-lg-12 footer-text text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved {{ app_name }} | <a
              href="https://colorlib.com" target="_blank"> This template is made with
              <i class="fa fa-heart" aria-hidden="true"></i> by Colorlib </a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->
</div>


  <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  {# <!--script src="{{ asset('vendor/skrollr.min.js') }}"></script--> #}
  <script src="{{ asset('vendor/owl-carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('vendor/nice-select/jquery.nice-select.min.js') }}"></script>
  <script src="{{ asset('vendor/jquery.ajaxchimp.min.js') }}"></script>
  <!-- Select2 -->
  <script src="{{ asset('vendor/select2/js/select2.full.min.js') }}"></script>
  {% block foot %}{% endblock %}
  <script src="{{ asset('vendor/mail-script.js') }}"></script>
  <script src="{{ asset('js/main.js') }}"></script>
  <script>
    $(document).ready(function () {
      //Initialize Select2 Elements
      $('select').select2({
        theme: 'bootstrap4'
      })
    })
  </script>
  {% block javascripts %}{% endblock %}

</body>

</html>