{% extends 'lesekoya/base.html.twig' %}

{% block title %}Edit profil{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('home') }}">{{'Home'|trans}}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('client_index') }}">{{'Customer'|trans}}</a></li>
    <li class="breadcrumb-item active">{{'Cart'|trans}}</li>
</ol>
<div class="container-fluid">

    <div class="row my-5">
        {% include "client/nav.html.twig" %}
        <div class="col-lg-8 div-primary">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <p class="p-0 m-0 ">{{'Edit Password'|trans}}</p>
                        </div>
                        <div class="card-body">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <div class="btn-group">
                                    <a class="btn btn-dark text-white" href="{{ path('client_index') }}">{{'back'|trans}}</a>
                                    
                                    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
