{% import "macros/button.html.twig" as btn %}
<table id="datatable_{{ id }}" class="table">
    <thead>
        <tr>
            <th>{{'Order'|trans}}</th>
            <th>{{'Invoice'|trans}}</th>
            <th>{{'State'|trans}}</th>
            <th>{{'Date'|trans}}</th>
            <th>{{'Total'|trans}}</th>
            <th>{{'Actions'|trans}}</th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>#{{ order.id }}
             <a 
                data-id="{{order.id}}"
                class="float-right px-1 js-order-view"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Look"
                href="{{ path('main_order_show', {'id': order.id}) }}">
                <i class="fa fa-eye text-dark"></i>
                </a>
                
            </td>
            <td>{{ order.number }}</td>
            <td>
            {{ btn.order(order.state) }}
            
            </td>
            <td>{{ order.createdAt|date_format_fr }}</td>
            <td>{{ order.total | number_format(2,'.',' ') }} XOF </br>
                <small class="text-info">Via : {{ order.payment.paymentMethod.name}} </small>
            </td>
            <td>
                {% if order.state == 'waiting' or order.state == 'in progress' %}
                <a data-toggle="tooltip" data-placement="bottom" data-id="{{order.id}}" title="Annuller la commande" href="#" class="text-danger js-order-canceled">Cancel</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr class="text-center">
            <td colspan="12">{{'no records found'|trans}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{{'Order'|trans}}</th>
            <th>{{'Invoice'|trans}}</th>
            <th>{{'State'|trans}}</th>
            <th>{{'Date'|trans}}</th>
            <th>{{'Total'|trans}}</th>
            <th>{{'Actions'|trans}}</th>
        </tr>
    </tfoot>
    </table>