<table id="datatable_{{ id }}" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Cree</th>
      <th>Modifier</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.title}}</td>
        <td><a href="{{ path('category_edit', {'id': item.id}) }}" class="btn"><i
              class="fas fa-edit text-success"></i></a>
        
          <form method="post" class="d-inline-block" action="{{ path('category_delete', {'id': item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
            <button class="btn"><i class="fas fa-trash-alt text-danger "></i></button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
        <tfoot>
          <tr>
              <th>Nom</th>
              <th>Cree</th>
              <th>Modifier</th>
              <th>Action</th>
          </tr>
        </tfoot>
</table>
