<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Welcome{% endblock %}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{{ asset('adminLte/plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <!-- -->
  <link rel="stylesheet" href="{{ asset('vendor/suggestions/css/unibox.css') }}">
  <style>
    .list-group .active a{
        color:#fff!important;
    }
  </style>
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('adminLte/dist/css/adminlte.min.css') }}">
  {% block stylesheets %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="{{ asset('adminlte/dist/img/AdminLTELogo.png') }}" alt="{{ app_name }} Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">{{app_name }}</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">{{'Home'|trans}}</a>
          </li>
          <li class="nav-item">
            <a href="{{path('articles') }}" class="nav-link">{{'Article'|trans}}</a>
          </li>
          {% if not is_granted('ROLE_CLIENT') %}
            <li class="nav-item">
              <a href="{{ path('app_login') }}" class="nav-link">{{'Login'|trans}}</a>
            </li>
            <li class="nav-item">
              <a href="{{ path('app_register') }}" class="nav-link">Register</a>
            </li>
          {% endif %}
          {% if  is_granted('ROLE_EDITOR') %}
          <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle rounded bg-primary">Manage {{app_name}}</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="{{ path('admin') }}" class="dropdown-item">Dashboard </a></li>
              <li><a href="{{ path('article_index') }}" class="dropdown-item">Manage artices </a></li>
              <li><a href="{{ path('order_index') }}" class="dropdown-item">Manage orders </a></li>
              <li><a href="{{ path('app_logout') }}" class="dropdown-item">Log out <i class="fa fa-power-off text-danger" aria-hidden="true"></i> </a></li>
              {# <li class="dropdown-divider"></li>

              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li>
                    <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                  </li>

                  <!-- Level three dropdown-->
                  <li class="dropdown-submenu">
                    <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                    <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                      <li><a href="#" class="dropdown-item">3rd level</a></li>
                      <li><a href="#" class="dropdown-item">3rd level</a></li>
                    </ul>
                  </li>
                  <!-- End Level three -->

                  <li><a href="#" class="dropdown-item">level 2</a></li>
                  <li><a href="#" class="dropdown-item">level 2</a></li>
                </ul>
              </li>
              <!-- End Level two --> #}
            </ul>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false" class="nav-link dropdown-toggle"><img width="30px" src="{{ asset('img/pays/' ~ app.request.locale ~ '') }}.jpg" alt="lang"> </a>
            <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
              {% for item in locales %}
                {% if item != app.request.locale  %}
                <li>
                  <a href="{{ path('lang',{ locale: item }) }}" class="dropdown-item">
                    <img width="30px" src="{{ asset('img/pays/' ~ item ~ '') }}.jpg" alt="" srcset="">
                   {{item}} </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-0 ml-md-3">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Right navbar links -->
      
       
      </ul>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">


    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        {% block body %}{% endblock %}

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{{ asset('adminLte/plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('adminLte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- slick -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- autocomplete -->
<script src="{{ asset('vendor/suggestions/js/unibox.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('adminLte/dist/js/adminlte.min.js') }}"></script>
{% block foot %}{% endblock %}
<!-- unibox configuration -->
  <script>
      var boxes = [];

      sxQuery(document).ready(function() {

          var settings = {
              // REQUIRED
              suggestUrl: 'https://global.sitesearch360.com/sites/suggest?site=fairshopping.online&limit=10&maxQuerySuggestions=50&query=', // the URL that provides the data for the suggest -> this is just an example
              // suggestUrl: 'http://yourserver.com/suggests?query=', // the URL that provides the data for the suggest
              ivfImagePath: 'http://yourserver.com/images/ivf/', // the base path for instant visual feedback images

              // OPTIONAL
              instantVisualFeedback: 'all', // where the instant visual feedback should be shown, 'top', 'bottom', 'all', or 'none', default: 'all'
              throttleTime: 100, // the number of milliseconds before the suggest is triggered after finished input, default: 300ms
              extraHtml: undefined, // extra HTML code that is shown in each search suggest
              highlight: true, // whether matched words should be highlighted, default: true
              queryVisualizationHeadline: '', // A headline for the image visualization, default: empty
              animationSpeed: 200, // speed of the animations, default: 300ms
              callbacks: {
                  enter: function(text,link){console.log('enter callback: '+text);}, // callback on what should happen when enter is pressed, default: undefined, meaning the link will be followed
                  enterResult: function(text,link){console.log('enter callback result: ' + text);}, // callback on what should happen when enter is pressed on a result or a suggest is clicked
              },
              placeholder: 'Search for something',
              minChars: 3, // minimum number of characters before the suggests shows, default: 3
              suggestOrder: [], // the order of the suggests
              suggestSelectionOrder: [], // the order of how they should be selected
              noSuggests: '<b>We haven\'t found anything for you, <u>sooorrryyy</u></b>',
              emptyQuerySuggests: {
                              "suggests":{
                                  "Products":[
                                      // {
                                      //   "id":"2179584",
                                      //   "name":"Canon PowerShot SX710 HS",
                                      //   "image":"https://images-eu.ssl-images-amazon.com/images/I/41JNvHrzCAL._AC_SY200_.jpg",
                                      //   "link":"https://www.amazon.com/Canon-PowerShot-SX720-HS-Black/dp/B01BV14I40/"
                                      // },
                                      {
                                        "id":"1",
                                        "name":"hp probook",
                                        "image":"{{ asset('img/article/38d54b4d742e50968f60b64c0bce0171.jpg' )}}",
                                        "link":"{{ path('articles_show', { category: 'Smartphone', slug: 'hp-probook', id: '1'}) }}"
                                      },
                                  ]
                              }
                          },
              //maxWidth: 400 // the maximum width of the suggest box, default: as wide as the input box
          };

          // apply the settings to an input that should get the unibox
          // apply to multiple boxes
          boxes = sxQuery(".s").unibox(settings);
      });
  </script>
{% block javascripts %}
{% endblock %}
</body>
</html>
