<table id="datatable_{{id}}" class="table table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Quantite</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in articles %}
        <tr>
            <td>
                {% for item in item.images|slice(0,1) %}
                    <img src="{{ asset('img/article/' ~ item.name) }}" width="50px" alt="">
                    {% else %}
                    <img src="{{ asset('img/article/vide.png') }}" width="50px" alt="">
                {% endfor %}
                <a class="c-1" href="{{ path('article_show',{id: item.id} ) }}">
                    #{{ item.id}} {{ item.title}} 
                </a>
                <a class="c-1" href="{{ path('article_edit',{id: item.id} ) }}">
                <i class="fas fa-pencil-alt   text-success "></i>
                </a>
                    </br>
                    {{ item.description}}
            </td>
            <td>
                En stock: {{ item.quantity }} </br>
                Réel: {{ item.qtyReel }}
            </td>
            <td>
                Achat: {{ item.formatterBuying}} </br>
                De vente: {{ item.formatterPrice}}</td>
            <td>{{ item.category.title }}</td>
            <td>{{item.etat }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Action</button>
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown"
                        aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <a href="{{ path('article_show',{id: item.id} ) }}" class="dropdown-item">
                            <i class="fa fa-eye text-dark" aria-hidden="true"></i> Voir
                        </a>
                        <a href="{{ path('article_edit',{id: item.id} ) }}" class="dropdown-item">
                            <i class="fas fa-edit text-success"></i> Editer
                        </a>
                        <div class="dropdown-divider"></div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <form class="d-inline-block" method="post"
                            action="{{ path('article_delete', {'id': item.id}) }}"
                            onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                            <button class="btn"><i class="fas fa-trash-alt  text-danger  "></i> Suprimmer</button>
                        </form>
                        {% endif %}
                    </div>
                </div>



            </td>
        </tr>
        {% endfor %}
    </tbody>
    {# <tfoot>
        <tr>
            <th>Nom</th>
            <th>Prix d'achat</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Description</th>
            <th>Edité </th>
            <th>Action</th>
        </tr>
    </tfoot> #}
</table>