{% import "macros/link.html.twig" as link %}

<div class="row">
  <div class="col-12 col-sm-12">
    <div class="card card-primary card-outline card-tabs">
      <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home"
              role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">En ligne |<span
                class="font-weight-bold">
                {{ articlesOn| length }}
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile"
              role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Desactiver |<span
                class="font-weight-bold">
                {{ articlesOff| length }}
              </span></a>
          </li>

        </ul>
      </div>
      <div class="card-body">
          {{ link.add(path('article_new'),'Create article' )}}
        <hr>
        <div class="tab-content" id="custom-tabs-three-tabContent">
          <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel"
            aria-labelledby="custom-tabs-three-home-tab">
            <p> <i class="fa fa-info" aria-hidden="true"></i> Liste des articles visible par les internautes.
            </p>
            {{ include ("admin/article/_datatable.html.twig",{id:'1',articles: articlesOn}) }}
          </div>
          <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel"
            aria-labelledby="custom-tabs-three-profile-tab">
            <p>Liste des articles desactiver, ils ne sont pas visible par les internautes.</p>
            {{ include ("admin/article/_datatable.html.twig",{id:'2',articles: articlesOff}) }}
          </div>
        </div>
        <hr>
      {{ link.back(path('admin'),'Back to dashboard')}}

      </div>
    </div>
  </div>
</div>