{% extends "admin/base.html.twig" %}
{% import "macros/dataTable.html.twig" as dataTable %}
{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/link.html.twig" as link %}


{% block title %}Listes des articles {% endblock %}


{% block breadcrumb %}
{{ utils.breadcrumb('Listes des articles')}}
{% endblock %}

{% block head %}
{{ dataTable.css() }}
{% endblock %}

{% block foot %}
{{ dataTable.js()}}
{% endblock %}


{% block javascripts %}
{{ dataTable.script('#datatable_1') }}
{{ dataTable.script('#datatable_2') }}
<script>
	$(document).ready(function () {
		//desactive un article
		$(document).on('click', '.btn-desactiver', function (e) {
			e.preventDefault()
			let href = $(this).data('path')
			Swal.fire({
				title: 'Etes vous sur ?',
				text: "Vous allez desactiver ce produit !",
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Oui, Desactiver',
				cancelButtonText: 'Fermer'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: href,
						method: 'POST',
						type: 'json',
						data: {
							edit: 'enabled_false',
						},
						beforeSend: function () {
							$('.js-loader-text').text('Désactivation en cour ...')
							$('.js-loader').css('display', 'flex')
						},
						success: function (data) {
							$('.js-loader').css('display', 'none')
							if (data) {
								Swal.fire({
									title: 'Modification enregistrée',
									icon: 'success',
									timer: 1500,
									showConfirmButton: false
								})
								loadArticles()
							} else {
								$('.js-loader').css('display', 'none')
								alert('Une erreur est survenue. code : 002')
							}
						},
						error: function () {
							$('.js-loader').css('display', 'none')
							alert('Une erreur est survenue. code : 001')
						}
					})
				}
			})
		})
		//active un article
		$(document).on('click', '.btn-activer', function (e) {
			e.preventDefault()
			let href = $(this).data('path')
			Swal.fire({
				title: 'Etes vous sur ?',
				text: "Vous allez activer ce produit !",
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Oui, Activer',
				cancelButtonText: 'Fermer'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: href,
						method: 'POST',
						type: 'json',
						data: {
							edit: 'enabled_true',
						},
						beforeSend: function () {
							$('.js-loader-text').text('Activation en cour ...')
							$('.js-loader').css('display', 'flex')
						},
						success: function (data) {
							$('.js-loader').css('display', 'none')
							if (data) {
								Swal.fire({
									title: 'Modification enregistrée',
									icon: 'success',
									timer: 1500,
									showConfirmButton: false
								})
								loadArticles()
							} else {
								$('.js-loader').css('display', 'none')
								alert('Une erreur est survenue. code : 002')
							}
						},
						error: function () {
							$('.js-loader').css('display', 'none')
							alert('Une erreur est survenue. code : 001')
						}
					})
				}
			})
		})

		//charge les articles
		function loadArticles() {
			$.ajax({
				url: "/admin/article/load",
				method: 'POST',
				type: 'json',
				data: {
					load: 'articles',
				},
				beforeSend: function () {
					$('.js-loader-text').text('Actualisation en cour ...')
					$('.js-loader').css('display', 'flex')
				},
				success: function (data) {
					if (data.reponse) {
						$('#load-articles').html(data.content)
					}
					$('.js-loader').css('display', 'none')
				},
				error: function () {
					$('.js-loader').css('display', 'none')
					alert('Une erreur est survenue. code : 001')
				}
			})
		}
	})
</script>
{% endblock %}

{% block body %}

{% for item in app.flashes('success') %}
{{ alerte.alert(item,'success')}}
{% endfor %}
<div id="load-articles">
	{% include "admin/article/_load_articles.html.twig" %}
</div>
{% endblock %}