{% import "macros/table.html.twig" as table %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alertes %}
{% import "macros/button.html.twig" as btn %}

{% extends 'admin/base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block head %}
<!-- datatable -->
<link rel="stylesheet" href="{{ asset('vendor/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}
{% block stylesheets %}
{{ head.dataTable() }}
{% endblock %}

{% block breadcrumb %}
{{ utils.breadcrumb('Ajouter un produit',[
{
path:path('article_index'),
name:'Manage Articles'
}
])}}
{% endblock %}

{% block body %}
{% for item in app.flashes('success') %}
{{ alertes.alert(item,'success')}}
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h4>{{ 'Ajouter un produit' }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        {{ include('admin/article/_form.html.twig',{button_label:'AJouter un produit'}) }}
                    </div>
                    <div class="col-md-3">
                        {% include "includes/article/aides.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block foot %}

<script src="{{ asset('js/image.js') }}"></script>
{% endblock %}