{% extends base ~ "/base.html.twig" %}
{% block main %}
<main class="main">
	<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('home') }}">{{'Home'|trans}}</a>
				</li>
				{% if app.request.get('_route') == 'articles_category' %}
				<li class="breadcrumb-item">
					<a href="{{ path('articles') }}">{{'Shop'|capitalize|trans}}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ app.request.get('category') |trans}}</li>
				{% endif %}
				{% if app.request.get('_route') == 'articles' %}
				<li class="breadcrumb-item active" aria-current="page">{{'Shop'|trans}}</li>
				{% endif %}
			</ol>
		</div>
		<!-- End .container -->
	</nav>
	<!-- End .breadcrumb-nav -->

	<div class="page-content">
		<div class="container">
			{% include "includes/_alerte.html.twig" %}
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-md-12">
							<form method="get">
								<p class="h4">Filtre: </p>
								<div class="form-row">
									<div class="form-group col-md-2 col-12">
										<input type="number" id="minPrice" value="{{ app.request.get('minPrice') }}"
											width="100px" name="minPrice" placeholder="Prix Min" class="form-control">
									</div>
									<div class="form-group col-md-2 col-12">
										<input type="number" id="maxPrice" value="{{ app.request.get('maxPrice') }}"
											width="100px" name="maxPrice" placeholder="Prix Max" class="form-control">
									</div>
									
									<div class="form-group col-md-3 col-12">
										<select class="custom-select" style="height:41px;font-size:14px" name="brand"
											id="brand">
											<option value="">Toutes les Marques</option>
											{% for item in brands %}
											<option {{ app.request.get('brand')==item.name ? 'selected' :'' }}
												value="{{ item.name }}">{{ item.name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group col-md-2 col-12">
										<select class="custom-select" style="height:41px;font-size:14px" name="etat"
											id="brand">
											<option value="">Tous les états</option>
											<option {{ app.request.get('etat')=='Neuf' ? 'selected' :'' }} value="Neuf">
												Neuf</option>
											<option {{ app.request.get('etat')=='Reconditionné' ? 'selected' :'' }}
												value="Reconditionné">Reconditionné</option>
											<option {{ app.request.get('etat')=='Occasion' ? 'selected' :'' }}
												value="Occasion">Occasion</option>
										</select>
									</div>
									<div class="form-group col-md-2 col-12">
										<button type="submit" width="90px" class="btn btn-primary">Appliquer</button>
									</div>
								</div>
								<a href="{{ path('articles') }}" class="active">Annuler les filtres</a>
							</form>
						</div>
					</div>
					<div class="toolbox">
						<div class="toolbox-left">
							<div class="toolbox-info">
								{{'Showing'|trans}}
								<span>{{ articles|length }}
									{{'of'|trans}}</span>
								{{ articles.totalItemCount }}
								{{'Products'|trans}}
							</div>
							<!-- End .toolbox-info -->
						</div>
						<!-- End .toolbox-right -->
					</div>

					<hr class="my-5">
					<!-- End .toolbox -->
					{% include "lest/shop/_articles_list.html.twig" %}
				</div>
				<!-- End .col-lg-9 -->

				<aside class="col-lg-3 order-lg-first">
					<div class="sidebar sidebar-shop">
						<div class="widget widget-category widget-collapsible">
							<h3 class="widget-title" id="aside-name">
								<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="false"
									aria-controls="widget-1" class="collapsed">
									{{'Category'|trans}}
								</a>
							</h3>
							<!-- End .widget-title -->

							<div class="collapse show" id="widget-1">
								<div class="widget-body">
									<div class="filter-items filter-items-count">
										<div class="filter-item">
											<a href="{{path('articles') }}" {{ app.request.get('_route')=='articles'
												? 'class="active"' : '' }}>{{ 'All'|trans }}</a>
											<span class="item-count">{{ articles.totalItemCount }}
											</span>
										</div>
										{% for item in categories.all %}
										<div class="filter-item">
											<a href="{{path('articles_category',{category:item.slug}) }}" 
											{{ item.slug==app.request.get( 'category' ) ? 'class="active"' : '' }}>
											{{item.title }}</a>
											<span class="item-count">{{ item.articles|length }}</span>
										</div>
										{% endfor %}
									</div>
									<!-- End .filter-items -->
								</div>
								<!-- End .widget-body -->
							</div>
							<!-- End .collapse -->
						</div>
					</div>
					<!-- End .widget widget-clean -->
					<div class="card">
						<div class="text-center">
							<a href="#">
								<img width="200px" class="d-inline-block"
									src="{{ asset('img/icons/lest-boutique.png') }}" />
							</a>
						</div>
					</div>
				</aside>
				<!-- End .col-lg-3 -->
			</div>
			<!-- End .row -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .page-content -->
</main>
<!-- End .main -->
{% endblock %}