{% extends 'admin/base.html.twig' %}

{% block title %}Street index{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3>Street</h3>
            </div>
            <div class="card-body">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('street_new') }}">Create new</a>
                </div>
                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Livraison</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for street in streets %}
                        <tr>
                            <td>{{ street.name }}</td>
                            <td>{{ street.shippingAmount.amount|number_format(0,'',' ') }}</td>
                            <td>
                                <a href="{{ path('street_show', {'id': street.id}) }}">show</a>
                                <a href="{{ path('street_edit', {'id': street.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
