{% extends 'admin/base.html.twig' %}
{% import "macros/dataTable.html.twig" as dataTable %}
{% import "macros/action.html.twig" as action %}
{% import "macros/link.html.twig" as link %}

{% block title %}Liste des lieux de livraison
{% endblock %}

{% block head %}
	{{ dataTable.css()}}
{% endblock %}

{% block foot %}
	{{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
	{{ dataTable.script('#datatbale_1')}}
{% endblock %}

{% block body %}
{% include "includes/_alerte.html.twig" %}
	<div class="row">
		<div class="col-lg-12">
			<div class="card card-primary card-outline">
				<div class="card-header">
					<div class="card-title">Liste des lieu de livraison</div>
				</div>
				<div class="card-body">
					<a class="btn btn-primary" href="{{ path('street_new') }}">Create new</a>
					<hr/>
					<table id="datatbale_1" class="table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Montant de la Livraison</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for street in streets %}
								<tr>
									<td>{{ street.name }}</td>
									<td>{{ street.shippingAmount.amount|number_format(0,'',' ') }}</td>
									<td>
										{{ action.street(street)}}
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="3">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
                    {{ link.back(path('admin'), 'back to dashboard') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
