{% extends "email/base.html.twig" %}
{% block body %}
<nav class="breadcrumb">
   <a class="breadcrumb-item" href="/">{{'Home'|trans}}</a>
   <span class="breadcrumb-item active">{{'Confirmation'|trans}}</span>
</nav>
<p>
    {{'Please confirm your email address by clicking the following link'|trans}}:
    <br><br>
    {{'This link will expire in'|trans}}
    <a style="color:#5F5F5F" href="{{ signedUrl|default('#') }}">Confirmer mon Email</a>.
    {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<p>
    {{'Cheers!'|trans}}
</p>


{% endblock %}
{% block btn_path %}{{ signedUrl|default('#') }}{% endblock %}
{% block btn_text %} {{'Confirm my Email'|trans}} {% endblock %}