{% extends "email/base.html.twig" %}
{% import "macros/etats.html.twig" as etats %}
{% block title %}Facture #{{order.number}}{% endblock %}
{% block body %}
<p>Bonjour {{ order.user.personne.fullName }}</p>
<p>Il s'agit d'un reçu de paiement envoyée le {{ date()|date_format_fr }}  </p>
{% include "email/_order.html.twig" %}
<p>
    <b>Facture:</b> #{{order.number}} <br>
    <b>Montant:</b> <span style="color:red;font-weight:bold">{{order.total|number_format(0,'.',' ' )}}</span>
    {{site.current_name|upper}} <br>
    <b>Etat:</b> PAYEE<br>
</p>
<p>Remarque: Cette email servira de reçu officiel pour ce paiement</p>

{% endblock %}