{% extends "email/base.html.twig" %}
{% block title %}Facture #{{order.number}}{% endblock %}
{% block body %}
    <p>Bonjour {{ order.user.personne.fullName }}</p>
    <p>
        <b>Facture:</b> #{{order.number}} <br>
       <b>Montant:</b> <span style="color:red;font-weight:bold">{{order.total|number_format(2,'.',' ' )}}</span> {{site.current}} <br>
       <b>Date:</b> {{ order.createdAt| date_format_fr }}<br>
        <b>{{'Payment Due'|trans}}:</b> {{ order.paymentDue |date_format_fr }}
    </p>
    <p>Remarque: <br>
        - Si vous avez choisi comme moyent de 
        payment Orange money ou Wave vous pouvez transferz la somme directement sur le numero <b> {{ site.orange_money}}</b>
    </p>
{% endblock %}